<div class="container">
  <div class="background-img">
    <img src="../assets/pattern-bg-desktop.png" alt="">
  </div>

  <div class="infos">
    <h1>IP Address Tracker</h1>
    <div class="input-button">
      <input [(ngModel)]="ip_input" type="text" placeholder="Search for any IP address or domain">
      <button class="search-button" (click)="trackIP(ip_input)">
        <div class="svg">
           <img src="../assets/icon-arrow.svg" alt="">
        </div>
      </button>
    </div> 

    <div class="infos-ip-results">
      <div class="result-column" id="one">
        <h4 class="h4-title">ip address</h4>
        <h2 class="h2-result">{{ this.ip_address }}</h2>
      </div>
      <div class="result-column" id="two">
        <h4 class="h4-title">location</h4>
        <h2 class="h2-result">{{ this.location }}</h2>
      </div>
      <div class="result-column" id="three">
        <h4 class="h4-title">timezone</h4>
        <h2 class="h2-result">{{ this.timezone }}</h2>
      </div>
      <div class="result-column" id="four">
        <h4 class="h4-title">isp</h4>
        <h2 class="h2-result">{{ this.isp }}</h2>
      </div>
    </div>
  </div>

  <div class="map">
    <app-map [lat]="lat" [lng]="lng"></app-map>
  </div>
</div>